@model IEnumerable<VeterinaryClinic.Web.JorgePinto.Data.Entities.Medic>

@{
    ViewData["Title"] = "Index";
}

<h3>Medics</h3>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <p> 
            <a asp-action="Create" class="btn btn-outline-primary"><i class="fa-solid fa-stethoscope"></i> New Medic</a>
        </p>
    </div>
    <div class="search-container" style="display: flex; align-items: center;">
        <input type="text" id="searchInput" placeholder="Search..." oninput="handleSearchInput()">
        @* <button type="button" id="searchButton" class="btn btn-outline-primary" style="font-style: italic; margin-left: 10px;"> <i class="fa-solid fa-magnifying-glass"></i>  Search</button> *@
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OMV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OMV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>            
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageFullPath))
                    {
                        <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px; height:150px; max-width:100%; height: auto">
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fa-regular fa-file"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa-regular fa-trash-can"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        function handleSearchInput() {
            var searchTerm = $('#searchInput').val().toLowerCase();
            $('.table tbody tr').each(function () {
                var animalRow = $(this);
                var textToSearch = animalRow.text().toLowerCase();
                if (textToSearch.indexOf(searchTerm) === -1) {
                    animalRow.hide();
                } else {
                    animalRow.show();
                }
            });

            if (searchTerm === '') {
                $('.table tbody tr').show();
            }
        }

        $(document).ready(function () {
            $('#searchButton').click(function () {
                handleSearchInput();
            });

            $('#searchInput').on('input', function () {
                handleSearchInput();
            });
        });
    </script>
}