@model VeterinaryClinic.Web.JorgePinto.Data.Entities.Appointment


@* <div class="row">
    <div class="col-md-8">

        <dl class="row">
            <dt class="col-sm-3 text-right">
                @Html.DisplayNameFor(model => model.Owner)  
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Owner.FullName)
            </dd>
            <dt class="col-sm-3 text-right">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Owner.Email)
            </dd>
            <dt class="col-sm-3 text-right">
                @Html.DisplayNameFor(model => model.Animal)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Animal.Name)
            </dd>
            <dt class="col-sm-3 text-right">
                @Html.DisplayNameFor(model => model.Medic)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Medic.FullName)
            </dd>
            <dt class="col-sm-3 text-right">
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ScheduleDate)
            </dd>
            <dt class="col-sm-3 text-right">
                @Html.DisplayNameFor(model => model.Time)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Time)
            </dd>
        </dl>
    </div>
    
</div> *@
